@import '../../../variables';


.hadith-input{
    margin:0.5rem auto;
}

.quran-input{
    margin: 0.5rem auto;
}
.navigation-buttons{
    position: fixed ;
    bottom: 0;
    z-index: 10;
}

.input-container{
    //position: absolute;
    background-color: white;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    z-index: 1 !important;
    height: fit-content;//30%;
    min-height: 150px;
    border-bottom: solid 4px $primary;
    padding: 30px 0px;
    /*
    @media screen and (min-width:$break-l) {
        height: 30% !important;
        min-height: 150px;
    }
    @media screen and (max-width:$break-l) {
        height: 30% !important;
        min-height: 150px;

    }
    @media screen and (max-width:$break-m) {
        height: 30% !important;
        min-height: 150px;
    }
    @media screen and (max-width:$break-s) {
        height: 40% !important;
        min-height: 225px;
    }
    @media screen and (max-width:$break-x) {
        height: 40% !important;
        min-height: 225px;
    }
    @media screen and (max-width:300.98px) {
        height: 40% !important;
        min-height: 225px;
    }
    */
}
.lookup-button{
    background-color: $secondary;
    color:white;
}