<div class="row">
  <!--=======Select Source========-->
  <mat-form-field>
    <mat-select placeholder="Select Source" [(ngModel)]="Select_source" (ngModelChange)="onChangeSourceSelect($event)">
      <mat-option value="Bukhari">Bukhari</mat-option>
      <mat-option value="Muslim">Muslim</mat-option>
      <mat-option value="Quran">Quran</mat-option>
    </mat-select>
  </mat-form-field>



  <!--===============Hadith===================-->
  <div class="Bukhari" *ngIf="showHadith">
    <!--=======Chapter========-->
    <mat-form-field class="spacing">
      <input [(formControl)]="chapterFC" placeholder="Chapter" type="number" matInput>
      <mat-error *ngIf="chapterFC.invalid">{{getChapternumberError()}}</mat-error>
    </mat-form-field>

    <!--=======Options========-->
    <mat-form-field>
      <span matPrefix class="font-weight-bold">{{this.currentVolume}} &nbsp;</span>
      <mat-select placeholder="Choose Chapter" [(formControl)]="chapterOptionsFC" tabindex="-1">

        <div *ngFor="let c of theIndex">
          <mat-option [value]="c.book">
            <span>{{c.book}}</span>- {{c.bookName}}
          </mat-option>
        </div>

      </mat-select>
      <mat-hint>Errors appear instantly!</mat-hint>
    </mat-form-field>

    <!--=======Number-in-chapter========-->
    <mat-form-field class="spacing">
      <input placeholder="Number-in-Chapter" type="number" matInput [formControl]="hadithnumberChapterFC">
      <mat-error *ngIf="hadithnumberChapterFC.invalid">{{getHadithChapternumberError()}}</mat-error>
    </mat-form-field>

    <!--===============-->
    <mat-form-field>
      <mat-select placeholder="Hadith Number" [(formControl)]="hadithnumberOptionChapterFC" tabindex="-1">

        <mat-option *ngFor="let x of TheHadithaddress | addressArray;" [value]="x">{{x}}</mat-option>

      </mat-select>
    </mat-form-field>


  </div>



  <!--================Quran=====================-->
  <div class="Quran" *ngIf="showQuran">

    <!--=======Surah========-->
    <mat-form-field class="spacing">
      <input [(formControl)]='SurahnumberFC' placeholder="Surah" type="number" matInput>
      <mat-error *ngIf='SurahnumberFC.invalid'>{{getSurahError()}}</mat-error>
    </mat-form-field>

    <!--=======Verse========-->
    <mat-form-field class="spacing">
      <input [(formControl)]='AyatNumberFC' placeholder="Verse" type="number" matInput>
      <mat-error *ngIf='AyatNumberFC.invalid'>{{getAyatNumberError()}}</mat-error>
    </mat-form-field>

  </div>



  <!--====Buttons=====-->
  <button (click)='pushLoad()' mat-button *ngIf="showQuran||showHadith">Look up</button>
<!---
  <button (click)='test()' mat-button>test</button>

  <button (click)='loop2()' mat-button>loop</button>
  <button (click)='printloop()' mat-button>print loop</button>

-->
  <!--Look up-->



  <div *ngIf='TheHadithaddress'>
  </div>

</div>
  <!--Hadith Box-->
  <app-hadith-box [(apiURL)]='this.apiURL' [(update)]='this.update'></app-hadith-box>
<!--=======Number========-
    <mat-form-field class="spacing">
        <input [(ngModel)]='number_hadith' placeholder="Hadith Number" type="number" matInput>
      </mat-form-field>
    -->



<!--app-source [(BASEURL)]="this.BASEURL"></app-source-->

<!--=====-->
<!--Testing Loop
  <button (click)='loop()' mat-button >Tset Loop</button>


  -->
<!--
  <button (click)='CalcHadithNumber(bukhariChapter,this.number_hadith)' mat-button >test</button>
  -->
