
<!--<button (click)='logInput()'>log input</button>-->

<mat-form-field class="spacing">
<input [(ngModel)]='chapter'  placeholder="chapter" type="number"  matInput>
</mat-form-field>

<mat-form-field class="spacing">
<input [(ngModel)]='number' placeholder="number" type="number" matInput>
</mat-form-field>

<!--mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field-->
      
<button (click)='pushLoad(this.chapter,this.number)' mat-button>push</button>

<app-hadith-box [(apiURL)]='this.apiURL' [(update)]='this.update'  ></app-hadith-box>

<!--app-source [(BASEURL)]="this.BASEURL"></app-source-->