<div class="row">

  <div class="col-md-2">
    <!--=======Select Source========-->
    <mat-form-field>
      <mat-select placeholder="Select Source" [formControl]='source_options'>
        <mat-option value="Quran">Quran</mat-option>
        <mat-option value="Bukhari">Bukhari</mat-option>
        <mat-option value="Muslim">Muslim</mat-option>
        <!--mat-option value="Nasai">Nasai</mat-option-->
      </mat-select>
    </mat-form-field>
  </div>


  <div class="col-md">


      <form [formGroup]='rFPI'>

          <!--===============Hadith===================-->
          <div class="hadith-input" *ngIf="this.srv.Source.source.hadith.status">
    
            <!--=======What option========-->
            <mat-form-field *ngIf="this.srv.Source.methodAPI.myAPI.status">
              <mat-select placeholder="Choose Chapter" formControlName='FetchingMethod'>
    
                <div *ngFor='let c of myUsingOptions' >
                  <mat-option [value]="c.value">
                    {{c.englishName}}
                  </mat-option>
                </div>
    
              </mat-select>
              <mat-hint>Fetching Method</mat-hint>
            </mat-form-field>
    
    
            <!--=======Number========-->
            <mat-form-field class="spacing" *ngIf='this.rFPI.get("number").enabled'>
              <input formControlName='number' placeholder="Number" type="number" matInput>
              <mat-error *ngIf='rFPI.get("number").invalid'>{{getHadithErrot({fetchingMethod:"Chapter",fieldlName:"number"})}}</mat-error>
            </mat-form-field>
    
            <!--=======OtherTag========-->
            <mat-form-field class="spacing" *ngIf='this.rFPI.get("OtherTag").enabled'>
                <input formControlName='OtherTag' placeholder="Other Tag" type="number" matInput>
                <mat-error *ngIf='rFPI.get("OtherTag").invalid'>{{getHadithErrot({fetchingMethod:"Tag",fieldlName:"OtherTag"})}}</mat-error>
            </mat-form-field>

            <mat-form-field class="spacing" *ngIf='this.rFPI.get("OtherTagChars").enabled&&this.OtherTagCharsArray'>
                <mat-select placeholder="Choose Chapter" formControlName='OtherTagChars'>
    
                    <div *ngFor='let c of this.OtherTagCharsArray' >
                      <mat-option [value]="c">
                        {{c}}
                      </mat-option>
                    </div>
        
                  </mat-select>
                  <mat-hint>Charcter (Not Required)</mat-hint>
            </mat-form-field>
            <!--===New Chapter===-->
            <mat-form-field class="spacing" *ngIf='this.rFPI.get("NewChapter").enabled'>
              <input placeholder="New Chapter" type="number" matInput formControlName='NewChapter'>
              <mat-error *ngIf='rFPI.get("NewChapter").invalid'>{{getHadithErrot({fetchingMethod:"Chapter",fieldlName:"NewChapter"})}}</mat-error>
            </mat-form-field>

            <!--=======New Hadith========-->
            <mat-form-field class="spacing" *ngIf='this.rFPI.get("NewHadith").enabled'>
              <input formControlName='NewHadith' placeholder="New Hadith" type="number" matInput>
              <mat-error *ngIf='rFPI.get("NewHadith").invalid'>{{getHadithErrot({fetchingMethod:"Hadith",fieldlName:"NewHadith",otherfieldlName:"NewChapter"})}}</mat-error>
            </mat-form-field>
    
    
            <!--===New Vol===-->
            <!--mat-form-field class="spacing">
              <input placeholder="New Vol" type="number" matInput formControlName='NewVol'>
              <mat-error *ngIf='rFPI.get("NewVol").invalid'>{{getHadithErrot({fetchingMethod:"Vol",fieldlName:"NewVol"})}}</mat-error>
            </mat-form-field-->
    
    
            <!--===Old Chapter===-->
            <mat-form-field class="spacing" *ngIf='this.rFPI.get("OldChapter").enabled'>
              <input placeholder="Old Chapter" type="number" matInput formControlName='OldChapter' >
              <mat-error *ngIf='rFPI.get("OldChapter").invalid'>{{getHadithErrot({fetchingMethod:"Chapter",fieldlName:"OldChapter"})}}</mat-error>
            </mat-form-field>
    
    
            <!--=======Old Hadith========-->
            <mat-form-field class="spacing" *ngIf='this.rFPI.get("OldHadith").enabled'>
              <input formControlName='OldHadith' placeholder="Old Hadith" type="number" matInput >
              <mat-error *ngIf='rFPI.get("OldHadith").invalid'>{{getHadithErrot({fetchingMethod:"Hadith",fieldlName:"OldHadith",otherfieldlName:"OldChapter"})}}</mat-error>
            </mat-form-field>
    
            <!--===Old Vol===-->
            <!--mat-form-field class="spacing">
              <input placeholder="Old Vol" type="number" matInput formControlName='OldVol' >
              <mat-error *ngIf='rFPI.get("OldVol").invalid'>{{getHadithErrot({fetchingMethod:"Vol",fieldlName:"OldVol"})}}</mat-error>
            </mat-form-field-->
    
    
    
    
    
            <button (click)='LookupPI()' [disabled]="loading||this.rFPI.invalid" *ngIf="true" type="submit" mat-raised-button color="primary">Look up</button>
    
          </div>
    
        </form>

    

    <form [formGroup]='rFQ'>
      <!--================Quran=====================-->
      <div class="quran-input" *ngIf="this.srv.Source.source.quran">

        <!--=======Surah========-->
        <mat-form-field class="spacing">
          <input formControlName='surah_number' placeholder="Surah" type="number" matInput>
          <mat-error *ngIf='rFQ.get("surah_number").invalid'>{{getSurahError()}}</mat-error>
        </mat-form-field>

        <!--=======Verse========-->
        <mat-form-field class="spacing">
          <input formControlName='ayat_number' placeholder="Verse" type="number" matInput>
          <mat-error *ngIf='rFQ.get("ayat_number").invalid'>{{getAyatNumberError()}}</mat-error>
        </mat-form-field>
        <button (click)='LookUp()' [disabled]="loading||this.rFQ.invalid" type="submit" mat-raised-button color="primary" *ngIf="this.srv.Source.source.quran">Look up</button>

      </div>

    </form>

    

  </div>

  <div class="col-md-2">
  </div>


  <!--====Buttons=====-->
  <!---
  <button (click)='test()' mat-button>test</button>

  <button (click)='loop2()' mat-button>loop</button>
  <button (click)='printloop()' mat-button>print loop</button>

-->
  <!--Look up-->




</div>
<!--Hadith Box-->


<div class="row">
  <div class="col"></div>

  <div class="col">
  </div>

  <div class="col"></div>
</div>


<app-hadith-box [(apiURL)]='this.apiURL'></app-hadith-box>

<!--mat-form-field class="spacing w-100">
  <textarea [(ngModel)]="stringinputTest" placeholder="Test"  matInput></textarea>
</mat-form-field-->
<a ng-href="downloadLink" id="downloadLink"></a>
<div class="row navigation-buttons">

  
  <!---
  <button (click)='getvalidations(this.rFPI)' mat-raised-button>Log rFPI Validations</button>
  <button (click)='Test()' mat-raised-button>TestRequest</button>
  <button (click)='parseJson(stringinputTest,false)' mat-raised-button>Test Parse normal</button>
  <button (click)='parseJson(stringinputTest,true)' mat-raised-button>Test hadiths array</button>
  <button (click)='parseJson(stringinputTest,true,true)' mat-raised-button>Test TS array</button>
  <button (click)='CompareIndexes()' mat-raised-button>Compare</button>
  <button (click)='printloop()' mat-raised-button>Print</button>
  -->

</div>

<!--=======Number========-
    <mat-form-field class="spacing">
        <input [(ngModel)]='number_hadith' placeholder="Hadith Number" type="number" matInput>
      </mat-form-field>
    -->



<!--app-source [(BASEURL)]="this.BASEURL"></app-source-->

<!--=====-->
<!--Testing Loop
  <button (click)='loop()' mat-button >Tset Loop</button>


  -->
<!--
  <button (click)='CalcHadithNumber(bukhariChapter,this.number_hadith)' mat-button >test</button>


  <form [formGroup]='rFH'>

      <!--===============Hadith===================--
      <div class="hadith-input" *ngIf="showHadith">
          <!--=======Chapter========--
          <mat-form-field class="spacing">
            <input formControlName='hadith_chapter' placeholder="Chapter" type="number" matInput>
            <mat-error *ngIf='rFH.get("hadith_chapter").invalid'>{{getChapternumberError()}}</mat-error>
          </mat-form-field>
  
          <!--===Options-Chapter==--
          <mat-form-field>
            <span matPrefix class="font-weight-bold">{{this.currentVolume}} &nbsp;</span>
            <mat-select placeholder="Choose Chapter" formControlName='hadith_chapter_options' tabindex="-1">
  
              <div *ngFor="let c of HADITHADDRESS">
                <mat-option [value]="c.book">
                  {{c.book}}
                </mat-option>
              </div>
  
            </mat-select>
            <mat-hint>Errors appear instantly!</mat-hint>
          </mat-form-field>
  
          <!--===Number===--
          <mat-form-field class="spacing">
            <input placeholder="Number-in-Chapter" type="number" matInput formControlName='hadith_number'>
            <mat-error *ngIf='rFH.get("hadith_number").invalid'>{{getHadithChapternumberError()}}</mat-error>
          </mat-form-field>
  
          <!--=======Options-Number========--
          <mat-form-field>
            <mat-select placeholder="Hadith Number" formControlName='hadith_number_options' tabindex="-1">
  
              <mat-option *ngFor="let x of TheHadithaddress | addressArray;" [value]="x">{{x}}</mat-option>
  
            </mat-select>
          </mat-form-field>
  
          <button (click)='LookUp()' [disabled]="!isValid||loading" type="submit" mat-raised-button color="primary" *ngIf="showQuran||showHadith">Look up</button>
  
        </div>
  
      </form>
  -->

