<div class="row">

  <div class="col-1"></div>

  <div class="col">


    <!--=====Card====-->
    <mat-spinner *ngIf='loading&&!apiURL' class="Loading" [diameter]="40"></mat-spinner>
    <mat-card *ngIf='CurrentSource||boxcontent'>
          <mat-spinner *ngIf='loading' class="Loading" [diameter]="40"></mat-spinner>
          <p [innerHTML]="boxcontent" class="HadithText lead" *ngIf="!loading"></p>

          <mat-card-footer>
              <h5 *ngIf="hadithaddress&&CurrentSource=='hadith'&&!loading">
                Source: {{theC}}
                Ch:{{hadithaddress.chapter}} Hadith:{{hadithaddress.hadith}}</h5>
          </mat-card-footer>

    </mat-card>

  </div>

  <div class="col-1"></div>






</div>
