.arabicText{
    text-align: right;

}
.englishText{
    text-align: left;
}

.Loading{
    text-align: right;
    margin: 10px auto 10px;

}
.source-site{
    margin-top: 2rem;
}
.boxcontent{
    z-index: -1;
}
