<div class="row">

  <div class="col-1"></div>

  <div class="col">


    <!--=====Card====-->
    <mat-spinner *ngIf='loading&&!CurrentSource' class="Loading" [diameter]="40"></mat-spinner>
    <mat-card *ngIf='CurrentSource'>
      <mat-card-title >
          <h5 *ngIf="hadithaddress&&CurrentSource=='hadith'&&!loading">Ch:{{hadithaddress.chapter}} Hadith:{{hadithaddress.hadith}}</h5>
      </mat-card-title>
          <mat-spinner *ngIf='loading' class="Loading" [diameter]="40"></mat-spinner>
          <p [innerHTML]="boxcontent" class="HadithText lead" *ngIf="!loading"></p>

    </mat-card>

  </div>

  <div class="col-1"></div>






</div>
