@import '../../../variables';

.arabicText{
    text-align: right;

}
.englishText{
    text-align: left;
}

.Loading{
    text-align: right;
    margin: 10px auto 10px;

}
.source-site{
    margin-top: 2rem;
}
.boxcontent{
    z-index: -1;
}
.StyleSecondP div:nth-child(2)  p{
    font-weight: bold;
}


.box-container{
    margin-top: 50px;
    //height: 100%;
    // card
    .box-card{
        // tab
        .tab-content{
            padding: 20px 0px 0px;
            .box-content-text{
                p{
                    font-size: 1.2em;
                    margin: 0;
                }
            }
            .footer-seperator{
                height: 1px;
                width: 80%;
                background-color: #e0e0e0;
                margin: 40px auto 20px;
            }
            .content-footer{
                width: fit-content;
                .refrences-container{
                    font-size:0.8em;
                    color: gray;
                    margin: 18px 0px;
                }
    
                .box-copy-button{
                    //background-color: $secondary;
                    //position: absolute;
                    padding: 0px 32px;
                    min-height: 0;
                    font-size: 0.8em;
                
                    
                }
            }
            
        }
    }

}