<div class="top-navbar-container">

    <div class="container ">
    
        <div class="row justify-content-between  top-navbar relative transition">
        
            <div class="col-md-4 col-sm-5 col-3 nav-logo transition">
                <a href="./">
                    <img src="../../../assets/img/islamic_search_logos/w-s-min.png" alt="">
                </a>
            </div>
        
            <div class="col transition"> 
                <div class="nav-buttons">

                    <button [ngClass]="this.srv.source_options.value == 'quran'?'nav-active':'nav-inactive'" mat-button (click)="setQuran()" >Quran</button>

                    <button [ngClass]="this.srv.source_options.value == 'bukhari'?'nav-active':'nav-inactive'" mat-button (click)="setBukhari()" >Bukhari</button>

                    <button [ngClass]="this.srv.source_options.value == 'muslim'?'nav-active':'nav-inactive'" mat-button (click)="setMuslim()" >Muslim</button>

                </div>
            </div>
        
        </div>
    </div>
</div>