$my-white:#F9F9F9;

// work section
$primary:rgb(51, 51, 51);//#0d47a1;
$primary-2:#0d47a1;
$primary-3:#0d47a1;
$secondary:#0d47a1;//#00838f;
$tertiary:#1B1C24;
$compelmentary:#e8e8e8;
//$tertiary:#E0FF4F;

@mixin line-middle {
    position: absolute;
    animation-fill-mode: forwards;
    top: 50%;
    left: 15%;
    width: 70%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

@mixin center-word {
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}


$break-x: 575.98px;
$break-s: 767.98px;
$break-m: 991.98px;
$break-l: 1199.98px;


/*
$word-size:2em;
$stop-time:0;

$stop-time-2:1;

$line-delay:1000ms  *$stop-time;

$line-time:1000ms  *$stop-time;

$m-Delay:(1000ms + $line-delay  )*$stop-time;

$m-time:(5000ms     )*$stop-time;

$word-Delay:($m-Delay+$m-time+500ms      )*$stop-time;

$word-time:(500ms       )*$stop-time;



$container-delay: ($word-time + $word-Delay + 1000ms    )*$stop-time-2;

$container-time:(1000ms     )*$stop-time-2;
*/