@import './variables';

html,body,main{
    height: 100%;;
}
body{
    background-color: $compelmentary;
}
button{
    outline:0 !important;
}

.arabicText>.arabic_sanad{
    color: gray;
}
.arabicText>.arabic_text_details{
    font-weight: bold;
}


//================= General classess
.pad-0{
    padding: 0 !important;
}
.mar-0{
    margin: 0 !important;
}
.relative{
    position: relative;
}
.transition{
    transition: all 500ms ease-in-out;
}


.primary-background{
    background-color: $primary;
}
.secondary-background{
    background-color: $primary;
}
.compelmentary-background{
    background-color: $primary;
}
.tertiary-background{
    background-color: $primary;
}


[disabled]{
    color: #b3b3b3 !important;
    background-color: #dbdbdb !important;
    border-color: transparent !important;
}

.my-button{
    $transition-duration:200ms ;
    margin: 10px 0 !important;
    display: block !important;
    position: relative !important;
    width:fit-content !important;
    padding: 10px 20px !important;
    white-space: nowrap !important;
    color: $compelmentary !important;
    background-color: transparent !important;
    border-radius: 0px !important;
    border:2px solid $compelmentary !important;
    transition: $transition-duration !important;
    P{
        font-size: 20px !important;
        line-height: 20px !important;
        margin: 0 !important;
    }
    &[disabled]{
        color: #b3b3b3 !important;
        background-color: #dbdbdb !important;
        border-color: transparent !important;
    }
    &:hover:not([disabled]) {
        background-color: $secondary !important;
        border-color: $secondary !important;
        transition: $transition-duration !important;
    }
}
.my-button-xs-scall{
    @media screen and (max-width:$break-s) {
        transform: scale(0.6);
    }
}

.my-button-secondary{
    color: $secondary !important;
    border:2px solid $secondary !important;

    &:hover:not([disabled]) {
        background-color: $secondary !important;
        border-color: $secondary !important;
        color: $compelmentary !important;
    }
}

.my-button-tertiary{
    color: $tertiary !important;
    border:2px solid $tertiary !important;

    &:hover:not([disabled]) {
        background-color: $tertiary !important;
        border-color: $tertiary !important;
        color: $compelmentary !important;
    }
}

.my-button-primary{
    color: $primary !important;
    border:2px solid $primary !important;

    &:hover:not([disabled]) {
        background-color: $primary !important;
        border-color: $primary !important;
        color: $compelmentary !important;
    }
}