/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*
@import '~@angular/material/_theming.scss';
@include mat-core();

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

@include angular-material-theme($candy-app-theme);
*/

button{
    outline:0 !important;
}

.arabicText>.arabic_sanad{
    color: gray;
}
.arabicText>.arabic_text_details{
    font-weight: bold;
}
/*
.StyleSecondP div:nth-child(2)  p{
    font-weight: bold;
    color: red;
}
*/