/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
button{
    outline:0 !important;
}

.arabicText>.arabic_sanad{
    color: gray;
}
.arabicText>.arabic_text_details{
    font-weight: bold;
}
/*
.StyleSecondP div:nth-child(2)  p{
    font-weight: bold;
    color: red;
}
*/