button{
    outline:0 !important;
}

.arabicText>.arabic_sanad{
    color: gray;
}
.arabicText>.arabic_text_details{
    font-weight: bold;
}


//================= General classess
.pad-0{
    padding: 0 !important;
}
.mar-0{
    margin: 0 !important;
}
.relative{
    position: relative;
}